{% extends "base.html" %}
{% block content %}

<div class="hero-banner">
  <h1>Put Your Knowledge<br>to the TEST!</h1>
</div>

<div class="container py-5 text-center">
  <div class="row justify-content-center g-4">
    <div class="col-md-3">
      <a href="/" class="btn btn-wc w-100 py-3">Home</a>
    </div>
    <div class="col-md-3">
      <a href="/learn/1" class="btn btn-wc w-100 py-3">Review</a>
    </div>
    <div class="col-md-3">
      <a href="/quiz/1" class="btn btn-wc w-100 py-3">Start Quiz</a>
    </div>
  </div>
</div>

{% endblock %}
